<md-toolbar layout="row">
  <div flex="50" layout="row" layout-align="center center" style="background:white; color: gray;"><div ui-sref="home">MyTicket</div></div>
  <div flex="25" layout="row" layout-align="center center" style="background:#1db6ad;" ui-sref="event.detail">Detalles</div>
  <div flex="25" layout="row" layout-align="center center" style="background:#42d0c7;">Comprar</div>
</md-toolbar>

<md-toolbar layout="row">
  <div flex="50" style="background:#ff4e00;" layout="row" layout-align="center center">Time Until</div>
  <div flex="50" style="background:#313131;" layout="row" layout-align="center center"><acme-malarkey extra-values="vm.eventNews"></acme-malarkey></div>
</md-toolbar>
